/* STYLE SASS */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-Gradient(180deg, rgba(255,121,218,1) 0%, rbga(147,86,220,1) 100%);

@function pastel($clr){
    $hue: hue($clr);
    $sat: 100%;
    $light: 95%;
    $pastel: hsl($hue, $sat, $light);

    @return $pastel
}

@mixin flexbox-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover{
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.3s;
}

@mixin button-style{
    background-color: #e998f0;
    background-image: -webkit-linear-gradient(top, $color-secondary, $color-primary);
    background-image: -moz-linear-gradient(top, $color-secondary, $color-primary);
    background-image: -ms-linear-gradient(top, $color-secondary, $color-primary);
    background-image: -o-linear-gradient(top, $color-secondary, $color-primary);
    background-image: linear-gradient(to bottom, $color-secondary, $color-primary);
    border-radius: 40px;
    box-shadow: 1px 2px 6px #666666;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 20px 1px 22px;
    border: none; 
}
@mixin box-shadow-header{
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}

html,
body {
margin: 0;
padding: 0;
overflow-x: hidden;
font-family: "Roboto";
}

@font-face {
    font-family: "Shrikhand";
    src: url("/fonts/Shrikhand-Regular.otf");
    }
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
    }

/*Loader*/

.container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    @include flexbox-center;
    position: fixed;
    z-index: 2;
    opacity: 1;
    -webkit-animation: fade 3s forwards;
    animation: fade 3s forwards;
    .dots {
        width: 130px;
        height: 40px;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; 
    }
    .dots--1 {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        background-color: $color-primary;
    }
    .dots--2 {
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
        background-color: $color-secondary;
    }
    .dots--3 {
        background-color: $color-tertiary;
    }
    .dot {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-animation: upDown 0.5s ease-in-out alternate infinite;
        animation: upDown 0.5s ease-in-out alternate infinite;
    }
}
@keyframes fade{
    0%{
        opacity: 1;
        z-index: 1;
    }
    70%{
        opacity: 1;
        z-index: 1;
    }
    99%{
        opacity: 0;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes upDown{
    0%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.header{
    @include flexbox-center;
    position: relative;
    @include box-shadow-header;
    height: 80px;
    &_logo{
        justify-content: center;
        font-family: 'Shrikhand';
        color: black;
        margin: 0;
    }
}

a{
    text-decoration: none;
}

/*Localisation*/
.location{
    display: flex;
    justify-content: center;
    background: #e7e7e7;
    color: #424242;
    align-items: center;
    &_city{
        margin-left: 13px;
    font-weight: 700;
    }
}
.fas.fa-map-maker-alt{
    font-weight: 900;
}

/*Exploration section*/
.exploration{
    &_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f6f6f6;
        padding: 50px;
    }

    &_title{
        max-width: 250px;
        text-align: center;
        font-weight: bold;
        margin: 0;
        font-size: 1.5em;
    }
    &_text{
        text-align: center;
        color: #7a7a7a;
    }
    &_button{
        background-color: #e998f0;
        background-image: -webkit-linear-gradient(top, $color-secondary, $color-primary);
        background-image: -moz-linear-gradient(top, $color-secondary, $color-primary);
        background-image: -ms-linear-gradient(top, $color-secondary, $color-primary);
        background-image: -o-linear-gradient(top, $color-secondary, $color-primary);
        background-image: linear-gradient(to bottom, $color-secondary, $color-primary);
        border-radius: 40px;
        box-shadow: 1px 2px 6px #666666;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        padding: 1px 20px 1px 22px;
        border: none;
        &:hover{
            @include button-hover;
        }
    }
}
.text_button{
    font-weight: 300;
}

/*Fonctionnement*/
.operation{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1200px;
    &_container{
        display: flex;
        justify-content: center;
        padding: 25px 0;
        @media (max-width: 800px){
            padding: 20px;
        }
    }
    &_title{
        font-weight: bold;
        font-size: 1.5em;
    }
    &_steps{
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-weight: 600;
        @media (max-width: 800px){
            flex-direction: column;
            width: 95%;
        }
    }
    &_step{
        display: flex;
        align-items: center;
        background: #f6f6f6;
        margin: 10px 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
        width: 100%; 
        &:hover{
            cursor: pointer;
            transition: 0.3s;
            background-color: pastel($color-primary);
            i{
                color: $color-primary;
            }
        }

    }
    &_number{
        background-color: $color-primary;
        color: white;
        position: absolute;
        padding: 3px 8px 3px 8px;
        border-radius: 500px;
        transform: translateX(-50%);
    }
    &_icon{
        color: #7E7E7E;
        margin: 0 20px;
    }
    &_text {
        margin-right: 20px;
    }
}

/*Restaurants*/
.background_restaurants{
    background-color: #f6f6f6;
}
.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px;
    @media (max-width: 800px){
        flex-direction: column;
        padding: 20px;
    }
    &_title{
        margin-top: 20px;
        margin-bottom: 0;
    }
}
.restaurant{
    &_cards{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px;
        max-width: 1200px;
        width: 100%;
        margin: 30px auto;
        @media (max-width: 800px){
            display: grid;
            -ms-grid-rows: 1fr [4];
            grid-template-rows: repeat(4, 1fr);
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }
    &_card{
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        height: auto;
        width: 100%;
        &:hover{
            box-shadow: 1px 2px 8px $color-primary;
            z-index: 2;
            transition: all 0.5s 0s linear;
            transform: scale(1.02);
            -webkit-transition: all 0.5s 0s linear;
            -webkit-transform: scale(1.02);
            -ms-transition: all 0.5s 0s linear;
            -ms-transform: scale(1.02);   
            -moz-transition: all 0.5s 0s linear;
            -moz-transform: scale(1.02);
        }
        &-image{
            width: 100%;
            height: 190px;
        }
        &-new{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color:green;
            background: $color-tertiary;
            top: 20px;
            right: 20px;
            width: 100px;
            height: 40px;
        }
    }
    &_block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90px;
        &-text{
            margin-left: 20px;
            color: black;
        }
        &-name{
            font-weight: 700;
        }
        &-heart{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            width: 30px;
            position: relative;
        }
    }
}
.test-image{
    height: 190px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*coeur*/
.heart{
    width: 100%;
    stroke-width: 30;
    stroke: black;
    fill: white;
    cursor: pointer;
    &-full {
        position: absolute;
    }
    &:hover{
        fill: url(#text-fill);
        stroke: url(#text-fill);
        transform: scale(-1,1);
        transition: all 1s;
    }
}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #353535;
    &_bloc{
        display: inline;
        padding: 0 40px;
        width: 100%;
        max-width: 1200px;
        margin-bottom: 15px;
    }
    &_bloc{
        &-links{
            display: flex;
            justify-content: space-between;
            max-width: 900px;
            @media (max-width: 800px){
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                width: auto;
            }
        }
        &-link{
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
            &_title{
                font-weight: normal;
                font-size: 1em;
            }
        }
    }
}

a{
    color: white;
}
.logo{
    font-family: 'Shrikhand';
    font-size: 20px;
    padding: 15px 0;
}
.fa-utensils{
    margin-right: 10px;
}
.fa-hands-helping{
    margin-right: 10px;
}
