$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-Gradient(180deg, rgba(255,121,218,1) 0%, rbga(147,86,220,1) 100%);

@mixin flexbox-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover{
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    background-color: linear-gradient(180deg);
    cursor: pointer;
    transition: 0.3s;
}

@mixin button-style{
    background-color: #e998f0;
    background-image: -webkit-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -moz-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -ms-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -o-linear-gradient(top, #FF79DA, #9356DC);
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 40px;
    box-shadow: 1px 2px 6px #666666;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 20px 1px 22px;
    border: none; 
}
@mixin box-shadow-header{
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
}

html,
body {
margin: 0;
padding: 0;
overflow-x: hidden;
font-family: "Roboto";
}

@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/Shrikhand-Regular.otf');
    }
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    }

/*Loader*/
.container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    @include flexbox-center;
    position: fixed;
    z-index: 2;
    opacity: 1;
    -webkit-animation: fade 3s forwards;
    animation: fade 3s forwards;
}
@keyframes fade{
    0%{
        opacity: 1;
        z-index: 1;
    }
    70%{
        opacity: 1;
        z-index: 1;
    }
    99%{
        opacity: 0;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
.container .dots {
    width: 130px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .dots--1 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    background-color: $color-primary;

}
.container .dots--2 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    background-color: $color-secondary;

}
.container .dots--3 {
    background-color: $color-tertiary;
}
.container .dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: upDown 0.5s ease-in-out alternate infinite;
    animation: upDown 0.5s ease-in-out alternate infinite;
}
@keyframes upDown{
    0%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.header{
    @include flexbox-center;
    position: relative;
    @include box-shadow-header;
    height: 80px;
}

.header_logo{
    justify-content: center;
    font-family: 'Shrikhand';
    color: black;
    margin: 0;
}
a{
    text-decoration: none;
}
/*Localisation*/
.location{
    @include flexbox-center;
    background: #e7e7e7;
    color: #424242;
}
.fas.fa-map-maker-alt{
    font-weight: 900;
}
.location_city{
    margin-left: 13px;
    font-weight: 700;
}
