html,
body {
margin: 0;
padding: 0;
overflow-x: hidden;
font-family: "Roboto";
}

@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/Shrikhand-Regular.otf');
    }
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    }

/*Logo*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
    height: 80px;
}
.header_logo{
    justify-content: center;
    font-family: 'Shrikhand';
    color: black;
    margin: 0;
}
a{
    text-decoration: none;
}
/*Localisation*/
.location{
    display: flex;
    justify-content: center;
    background: #e7e7e7;
    color: #424242;
    align-items: center;
}
.fas.fa-map-maker-alt{
    font-weight: 900;
}
.location_city{
    margin-left: 13px;
    font-weight: 700;
}

/*Exploration section*/
.exploration_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 50px;
}
.exploration_title{
    max-width: 250px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}
.exploration_text{
    text-align: center;
    color: #7a7a7a;
}
.exploration_button{
    background: #e998f0;
    background-image: -webkit-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -moz-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -ms-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -o-linear-gradient(top, #FF79DA, #9356DC);
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 40px;
    box-shadow: 1px 2px 6px #666666;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 20px 1px 22px;
    border: none;
}
      
.exploration_button:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg);
    cursor: pointer;
    transition: 0.3s;
}
@mixin button-hover{
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
@mixin button-style{
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
/*Fonctionnement*/
.operation_container{
display: flex;
justify-content: center;
padding: 25px 0;
}
.operation{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1200px;
}

.operation_title{
    font-weight: bold;
    font-size: 1.5em;
}
.operation_steps{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.operation_step{
    display: flex;
    align-items: center;
    background: #f6f6f6;
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    width: 100%;
}

.operation_step:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg);
    cursor: pointer;
    transition: 0.3s;
}

.operation_number{
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    transform: translateX(-50%);
}
.operation_icon{
    color: #7E7E7E;
    margin: 0 20px;
}
.operation_text {
    margin-right: 20px;
}

/*Restaurants*/
.restaurants{
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    
}
.restaurant_cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
}
.restaurant_card{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    height: 300px;
}

.restaurant_card-new{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color:green;
    background: #99e2d0;
    top: 20px;
    right: 20px;
}

.restaurant_block-name{
    color: black;
}
.restaurant_block-city{
    color:black
}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
}
.footer_bloc{
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 15px;
}
.logo{
    font-family: 'Shrikhand';
    color: white;
    font-size: 20px;
    padding: 15px 0;
}
.footer_bloc-links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 900px;
    width: auto;
}
a{
    color: white;
}
.footer_bloc-link{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
}