html,
body {
margin: 0;
padding: 0;
overflow-x: hidden;
font-family: "Roboto";
}

@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/Shrikhand-Regular.otf');
    }
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    }

/*Loader spinner*/
.loader{
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 16px solid white;
    width: 100px;
    height: 100px;
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    border-radius: 50%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    animation: spinner 2.5s linear;
    z-index: -1;
}
@keyframes spinner{
    0%{
        visibility: visible;
        transform: rotate(0deg) scale(1);
        border-top-color: #FF79DA;
        border-bottom-color: #9356DC;
    }
    25%{
        border-top-color: #FF79DA;
        border-bottom-color: #FF79DA;
    }
    50%{
        transform: rotate(360deg) scale(1.15);
        border-top-color: #9356DC;
        border-bottom-color: #9356DC;
    }
    75%{
        border-top-color: #9356DC;
        border-bottom-color: #FF79DA;
    }
    100%{
        transform: rotate(760deg) scale(1);
        border-top-color: #FF79DA;
        border-bottom-color: #9356DC;
        visibility: hidden;
        opacity: 0;
    }
}

/*Logo*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
    height: 80px;
}
.header_logo{
    justify-content: center;
    font-family: 'Shrikhand';
    color: black;
    margin: 0;
}
a{
    text-decoration: none;
}
/*Localisation*/
.location{
    display: flex;
    justify-content: center;
    background: #e7e7e7;
    color: #424242;
    align-items: center;
}
.fas.fa-map-maker-alt{
    font-weight: 900;
}
.location_city{
    margin-left: 13px;
    font-weight: 700;
}

/*Exploration section*/
.exploration_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 50px;
}
.exploration_title{
    max-width: 250px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}
.exploration_text{
    text-align: center;
    color: #7a7a7a;
}
.exploration_button{
    background: #e998f0;
    background-image: -webkit-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -moz-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -ms-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -o-linear-gradient(top, #FF79DA, #9356DC);
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 40px;
    box-shadow: 1px 2px 6px #666666;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 20px 1px 22px;
    border: none;
}
      
.exploration_button:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg);
    cursor: pointer;
    transition: 0.3s;
}

/*Fonctionnement*/
.operation_container{
display: flex;
justify-content: center;
padding: 25px 0;
}
.operation{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1200px;
}

.operation_title{
    font-weight: bold;
    font-size: 1.5em;
}
.operation_steps{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.operation_step{
    display: flex;
    align-items: center;
    background: #f6f6f6;
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    width: 100%;
}

.operation_step:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg);
    cursor: pointer;
    transition: 0.3s;
}

.operation_number{
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    transform: translateX(-50%);
}
.operation_icon{
    color: #7E7E7E;
    margin: 0 20px;
}
.operation_text {
    margin-right: 20px;
}

/*Restaurants*/
.background_restaurants{
    background-color: #f6f6f6;
}

.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;

}
.restaurants_title{
    margin-top: 20px;
    margin-bottom: 0;

}
.restaurant_cards{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px;
    max-width: 1200px;
    margin: 30px auto;
}
.restaurant_card{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    height: auto;
    width: 100%;
}

.restaurant_card:hover{
    box-shadow: 1px 2px 8px #9356DC;
    z-index: 2;
    transition: all 0.5s 0s linear;
    transform: scale(1.02);
    -webkit-transition: all 0.5s 0s linear;
    -webkit-transform: scale(1.02);
    -ms-transition: all 0.5s 0s linear;
    -ms-transform: scale(1.02);   
    -moz-transition: all 0.5s 0s linear;
    -moz-transform: scale(1.02);
}

.restaurant_card-image{
    width: 100%;
    height: 190px;
}

.test-image{
    height: 190px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.restaurant_card-new{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color:green;
    background: #99e2d0;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 40px;
}
.restaurant_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}
.restaurant_block-text{
    margin-left: 20px;
    color: black;
}
.restaurant_block-name{
    font-weight: 700;
}
.restaurant-block-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 30px;
}

/*coeur*/
.fa.fa-heart-o {
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
    padding:.2em;
    
}
.fa-heart-o::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
}
.fa-heart-o:hover::before{
    color: #9356DC;
    cursor: pointer;
}

/*coeur TEST*/
.heart-full {
    position: absolute;
    fill: url(#text-fill);
    stroke: none;
}

.heart {
    width: 30px;
    stroke-width: 30;
    stroke: black;
    fill: white;
    cursor: pointer;
}

.heart-empty {
    width: 50px;
    position: relative;
    width: 30px;
}
.heart-empty::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
}
.heart-empty:hover::before{
    background-color: #9356DC;
    cursor: pointer;
}



/*footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #353535;
}
.footer_bloc{
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 15px;
}
.logo{
    font-family: 'Shrikhand';
    font-size: 20px;
    padding: 15px 0;
}
.footer_bloc-links{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}
a{
    color: white;
}
.footer_bloc-link{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
}
.footer_bloc-link:hover{
    text-decoration: underline;
}
.fa-utensils{
    margin-right: 10px;
}
.fa-hands-helping{
    margin-right: 10px;
}
.footer_bloc-link_title{
    font-weight: normal;
    font-size: 1em;
}
